{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block content %}

    <div class="container">
        <div class="title">
            <div>
                <h4>Ajout d'un article</h4>
            </div>
        </div>
        <div class="meta">
        {% include "article_form.html.twig" %}
            {{ form(form) }}
    </div>
    </div>
{% endblock %}
