{# templates/blog/edit.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Modifier{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <h4>Modifier l'article {{ slug }}</h4>
            </div>
        </div>
        <div class="meta">
            <div>
                <input type="text" name="" placeholder="Titre de l'article">
            </div>
            <div>
                <input type="text" name="" placeholder="Apercu de l'article">
            </div>
            <div>
                <input type="date" name="">
            </div>
            <div>
                <input type="text" name="" placeholder="Auteur">
            </div>
            <div>
                <input type="text" name="" placeholder="Contenu de l'article"></input>
            </div>
            <div>
                <input type="submit" name="" value="Enregistrer">
            </div>
        </div>
    </div>
{% endblock %}